<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                [%d{HH:mm:ss.SSS}] [%highlight(%level)] [%thread] %msg\n
            </Pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="Console"/>
    </root>

    <logger name="moe.kyokobot" level="debug"/>
    <logger name="moe.kyokobot.koe" level="trace"/>
    <logger name="io.netty" level="warn"/>
</configuration>
